<section>
    <h1>EDIT USER</h1>

    <form *ngIf="createUser" [formGroup]="createUser">
        <div class="input-data">
            <input type="text" placeholder="First Name" formControlName="fName" required>
        </div>
        <div class="input-data">
            <input type="text" placeholder="Last Name" formControlName="lName" required>
        </div>
        <div class="input-data">
            <input type="number" placeholder="876-XXX-XXXX" formControlName="tele" required>
        </div>
        <div class="input-data">
            <input type="text" placeholder="Alias" formControlName="alias" required>
        </div>
        <div class="input-data">
            <input type="email" placeholder="jack@gmail.com" formControlName="email" required>
        </div>
        <div class="input-data">
            <input type="date" formControlName="dob" required>
        </div>
       <button class="submit" (click)="updateUser()">Submit</button>

    </form>
</section>

<div class="home" routerLink="/" routerLinkActive="active">
    <i class="fa-solid fa-house"></i>
</div>